In [1]:
from fetch_data import fetch_data_from_postgres
#Merge data
mvariables = {
    "lat_min": -2,
    "lat_max": 2,
    "lon_min": -60,
    "lon_max": -58,
    "years": [2020]
}

json_outputs = fetch_data_from_postgres(variables=mvariables)

--- DB SIGN IN: ---
reading .env files...
successfully connected to:	 postgres
available schemas:		 ecosystem_classifier, information_schema, public
setting default schema to:	 ecosystem_classifier
tables in default schema:	 radiance_2020, ndvi_2020, earthdata_1980, meteostat_2017, us_rules, meteostat_2010, meteostat_2012, meteostat_2013, meteostat_2014, meteostat_2018, meteostat_2000, elevation, us_gaz, earthdata_1990, earthdata_1995, us_lex, meteostat_2015, earthdata_2011, earthdata_2012, meteostat_1990, meteostat_2011, meteostat_stations, earthdata_1970, earthdata_2019, radiance_2017, radiance_2018, radiance_2019, radiance_2021, earthdata_2000, earthdata_2005, earthdata_2010, earthdata_2013, meteostat_2016, spatial_ref_sys, app_contact_messages, earthdata_2014, meteostat_2019, meteostat_2020, meteostat_2021, earthdata_2015, earthdata_2016, earthdata_2017, earthdata_2018, meteostat_2005, radiance_2012, radiance_2013, radiance_2014, radiance_2015, radiance_2016, radiance_2022, radiance_2023, meteostat_1995, earthdata_1960, earthdata_2021, earthdata_2022, earthdata_2023, earthdata_2020, earthdata_1948, earthdata_1950
lat_min:	 -2
lat_max:	 2
lon_min:	 -60
lon_max:	 -58
years:	 [2020]
>>> Fitting tables: elevation, radiance_2020, ndvi_2020, meteostat_2020, earthdata_2020

--- CHECKING TABLES: ---
KEPT:		elevation
KEPT:		radiance_2020
KEPT:		ndvi_2020
DISCARDED:	meteostat_2020 >>> does not feature 'lon/longitude' and 'lat/latitude' as columns
KEPT:		earthdata_2020

--- FETCHING DATA: ---
>>> SUCCESS: elevation data fetched
>>> SUCCESS: radiance_2020 data fetched
>>> SUCCESS: ndvi_2020 data fetched
>>> SUCCESS: earthdata_2020 data fetched

In [2]:
import json
import pandas as pd

# Initialize an empty list to store the DataFrames
dfs = []

# Loop over each table in json_outputs
for key, data in json_outputs.items():
    # Parse JSON string if necessary
    if isinstance(data, str):
        try:
            parsed_data = json.loads(data)
        except json.JSONDecodeError as e:
            print(f"Error decoding JSON for table '{key}': {e}")
            continue  # Skip this table if JSON parsing fails
    else:
        parsed_data = data

    # Convert parsed data to a DataFrame
    try:
        df = pd.DataFrame(parsed_data)
    except ValueError as e:
        print(f"Error creating DataFrame for table '{key}': {e}")
        continue  # Skip this table if DataFrame creation fails

    # Standardize column names to 'lat' and 'lon' for merging
    if 'latitude' in df.columns and 'longitude' in df.columns:
        df.rename(columns={'latitude': 'lat', 'longitude': 'lon'}, inplace=True)
    elif 'lat' not in df.columns or 'lon' not in df.columns:
        print(f"Warning: Table '{key}' is missing required 'lat'/'lon' or 'latitude'/'longitude' columns.")
        continue  # Skip tables without valid latitude/longitude columns

    # Append the DataFrame to the list
    dfs.append(df)

# Merge all DataFrames on 'lat' and 'lon' if there are valid DataFrames
if dfs:
    merged_df = dfs[0]
    for df in dfs[1:]:
        try:
            merged_df = merged_df.merge(df, on=['lat', 'lon'], how='outer')
        except KeyError as e:
            print(f"Error merging table due to missing 'lat'/'lon' columns: {e}")
            continue  # Skip merging if 'lat'/'lon' columns are missing

    # Display the merged DataFrame
    print("\nMerged DataFrame:")
    print(merged_df.head(10))
else:
    print("No valid tables with latitude and longitude data were found.")

Merged DataFrame:
     lat     lon  elevation  radiance      ndvi  Swnet_min  Swnet_max  \
0 -1.875 -59.875       97.0  0.005382  0.721918  165.80704  229.59800
1 -1.875 -59.875       97.0  0.005382  0.721918  165.80704  229.59800
2 -1.875 -59.625       81.0       NaN  0.478903  166.42150  227.04250
3 -1.875 -59.375       38.0  0.038720  0.557888  153.92062  221.87888
4 -1.875 -59.375       38.0  0.038720  0.557888  153.92062  221.87888
5 -1.875 -59.125      106.0       NaN  0.759872  158.95009  226.96942
6 -1.875 -58.875      137.0       NaN  0.775727  153.02817  227.91917
7 -1.875 -58.625       73.0       NaN  0.776553  152.32771  220.99000
8 -1.875 -58.375       42.0       NaN  0.772459  150.33238  218.94513
9 -1.875 -58.125       72.0       NaN  0.813295  148.02092  215.03604

   Swnet_avg  Lwnet_min  Lwnet_max  ...  Qair_avg  Psurf_min   Psurf_max  \
0  193.64354 -53.923150 -31.744638  ...  0.016727   99407.14   99696.740
1  193.64354 -53.923150 -31.744638  ...  0.016727   99407.14   99696.740
2  191.48387 -53.959354 -30.794430  ...  0.016663   99905.94  100200.230
3  182.97272 -54.305230 -28.496597  ...  0.016567   99789.77  100082.410
4  182.97272 -54.305230 -28.496597  ...  0.016567   99789.77  100082.410
5  186.06682 -54.740900 -29.459680  ...  0.016416   99278.99   99568.414
6  185.30913 -58.529730 -30.398514  ...  0.016381   99367.62   99658.280
7  182.85860 -57.996940 -29.579556  ...  0.016332   99586.53   99882.570
8  182.30817 -58.956856 -28.719970  ...  0.016316   99997.58  100301.695
9  183.11378 -59.845814 -28.606388  ...  0.016261   99802.01  100104.914

    Psurf_avg  SWdown_min  SWdown_max  SWdown_avg  LWdown_min  LWdown_max  \
0   99540.440   182.20546   252.30525   212.79494   399.87967   418.04547
1   99540.440   182.20546   252.30525   212.79494   399.87967   418.04547
2  100040.914   181.88155   248.13367   209.27197   402.52460   420.99180
3   99923.870   169.14350   243.82283   201.06883   402.56458   422.08070
4   99923.870   169.14350   243.82283   201.06883   402.56458   422.08070
5   99413.730   174.67004   249.41670   204.46892   399.68950   419.55524
6   99503.780   168.16275   250.46054   203.63649   398.03854   419.68353
7   99727.560   167.39296   242.84645   200.94359   398.63284   421.29535
8  100144.445   165.20058   240.59912   200.33867   400.26004   421.99160
9   99950.440   162.66025   236.30342   201.22389   399.69205   423.29337

   LWdown_avg
0   410.70316
1   410.70316
2   413.96652
3   414.65170
4   414.65170
5   412.11145
6   411.29538
7   412.35934
8   413.54135
9   413.07740

[10 rows x 113 columns]

In [3]:
merged_df["ecosystem"] = "Urban-City"

In [5]:
merged_df.iloc[0:3,10:30]

,Lwnet_avg,Qle_min,Qle_max,Qle_avg,Qh_min,Qh_max,Qh_avg,Qg_min,Qg_max,Qg_avg,Snowf_min,Snowf_max,Snowf_avg,Rainf_min,Rainf_max,Rainf_avg,Evap_min,Evap_max,Evap_avg,Qs_acc_min
0,-41.843624,109.06175,152.98096,125.803246,10.713118,38.366722,26.437057,-0.807152,0.618713,-0.236860,0.0,0.0,0.0,0.000028,0.000133,0.000070,0.000044,0.000061,0.000050,0.005627
1,-41.843624,109.06175,152.98096,125.803246,10.713118,38.366722,26.437057,-0.807152,0.618713,-0.236860,0.0,0.0,0.0,0.000028,0.000133,0.000070,0.000044,0.000061,0.000050,0.005627
2,-40.746574,109.37356,154.90436,126.680640,14.367916,34.853592,24.474670,-0.794986,0.745487,-0.178876,0.0,0.0,0.0,0.000029,0.000135,0.000069,0.000044,0.000062,0.000051,0.006062